.player {
    width: 300px;
    display: flex;
    align-items: center;
    font-size: 18px;
    background-color: rgba(85, 85, 85, 0.7);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    span {
        font-size: 32px;
        margin-left: 16px;
    }
    img {
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    background-color: orange;
}

@media(max-width: 1000px) {
    .player {
        width: 240px;
        z-index: 99;
    }
}

@media(max-width: 340px) {
    .player {
        width: 190px;
        z-index: 99;
        font-size: 12px;
        img {
            height: 40px;
            width: 40px;
        }
    }
}